@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar{
    /* left: 9.14%; */
    /* right: 69.76%; */
    top: 4%;
    bottom: 4%;
}
/* .start-shadow{
    box-shadow: 0px 19px 40px -10px #01BAEF;
} */
